.fotoPortada{
    background-image: url(../img/FotoPortada.jpg);
    background-size: cover;
    width: 99%;
    height: 450px;
    border: #1E2D40;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: left;
    border-radius: 15px;
    }
.fotoPortadaInfo{
    color: #D9D7CC;
    font-style: italic;
    font-size: 30px;
    
}