/*Pagina de Galeria de Imagenes*/
/*"Galerias seria la targeta padre y "Galeria1" la hija*/

.fondoGaleria{
    background-color: rgb(219, 218, 218);
}
.Galerias{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    text-align: justify;
    align-items: center;
}
.Galeria1 img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;    
}

@media(max-width:600px){
    .Galerias {
        display: grid;
        grid-template-columns: 200px 200px;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
}
    .fondoGaleria{
        background-image: url(/assets/img/Surf/fondo1.jpg)
    }
    .Galeria1{
        img{
            width: 200px;
        }
    }

}