//*colores///
$colorlogo: #1E2D40;
$colorgris: #D9D9D9;


@import "resset";
@import "logo";
@import "fotoGaleria";
@import "navbar";
@import "fotoPortada";


.span{
    background-color: #1E2D40;
    font-size: xx-large;
}

